* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 1rem;
  width: 100%;
  height: auto;
  padding: 25px 40px 25px 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  align-items: center;
}

.search {
  display: inline-flex;
  margin-left: 5%;
}

.mainCity {
  display: inline-flex;
  position: relative;
  left: 10%;
  top: 50%;
  flex-direction: column;
}

.forecast {
  margin-top: 20%;
}

.history {
  margin-top: 10%;
}

li {
  list-style: none;
}